<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    </springProfile>
    <springProfile name="kibana">
        <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
    </springProfile>
    
    <root level="INFO">
            <appender-ref ref="CONSOLE"/>
    </root>
</configuration>